<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin Portal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analytics">Analytics</a>
      </li>
    </ul>
  </div>
</nav>
<div class='small-space'></div>
<h1>Administrator Portal</h1>
<div class='small-space'></div>
<p>Welcome to the adminstrator portal for the Gemini Employee Recognition System</p>
<p>Select an action:</p>
<ul>
    <li>
        <a href='/users'>View, modify, add and delete users</a>
    </li>
    <li>
        <a href='/analytics'>View business analytics</a>
    </li>
</ul>