<h1>Administrator Portal</h1>
<div class='vertical-space'></div>
<p>Welcome to the adminstrator portal for the Gemini Employee Recognition System</p>
<p>Select an action:</p>
<ul>
    <li>
        <a href='/users'>View, modify, add and delete users</a>
    </li>
    <li>
        <a href='/analytics'>View business analytics</a>
    </li>
</ul>