<h1>Administrator Portal - Analytics</h1>
<p>Welcome to the analytics dashboard</p>
<p>Select an action:</p>
<ul>
    <li id="created"><a href="https://gemini-db.appspot.com/created-awards" target="_blank">View which users created awards</a></li>
    <li id="num"><a href="https://gemini-db.appspot.com/number-awards" target="_blank">View how many awards each user created</a></li>
    <li id="type"><a href="https://gemini-db.appspot.com/type-awards" target="_blank">View how many of each type of award has been given</a></li>
    <li id="employees"><a href="https://gemini-db.appspot.com/received-awards" target="_blank">View which employees have received awards</a></li>
    <li id="type_received"><a href="https://gemini-db.appspot.com/received-type" target="_blank">View which employees have received which type of awards</a></li>
</ul>
