<h1>Administrator Portal - Analytics</h1>
<p>Welcome to the analytics dashboard</p>
<p>Select an action:</p>
<ul>
    <li>View which users created awards</li>
    <li>View how many awards each user created</li>
    <li>View how many of each type of award has been given</li>
    <li>View which employees have received awards</li>
    <li>View which employees have received which type of awards</li>
</ul>