<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Portal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/analytics">Analytics <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class='small-space'></div>
<h1>Administrator Portal - Analytics</h1>
<div class='small-space'></div>
<p>Welcome to the analytics dashboard</p>
<p>Select an action:</p>
<ul>
    <li id="created"><a href="https://gemini-db.appspot.com/createdAwards" target="_blank">View which users created awards</a></li>
    <li id="num"><a href="https://gemini-db.appspot.com/numberAwards" target="_blank">View how many awards each user created</a></li>
    <li id="type"><a href="https://gemini-db.appspot.com/typeAwards" target="_blank">View how many of each type of award has been given</a></li>
    <li id="employees"><a href="https://gemini-db.appspot.com/receivedAwards" target="_blank">View which employees have received awards</a></li>
    <li id="type_received"><a href="https://gemini-db.appspot.com/receivedType" target="_blank">View which employees have received which type of awards</a></li>
</ul>
