<h1>Which Users Have Created Awards</h1>
<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<div id='createdAwards'>
</div>