<h1>Which Users Have Created Awards</h1>
<script type="text/javascript">
    
// Client side .js for viewing which users created awards
// The initial view will be a pie chart

google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<div id='createdAwards'>
</div>
<script type="text/javascript" src="/public/createdAwards.js"></script>