<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<h1>Which Users Have Created Awards</h1>
<div class="small-space"></div>
<button id="export" class="btn">Download as CSV</button>
<div id='createdAwards' class='vertical-space'>
</div>
<div class="small-space"></div>
<div id='createdAwards2'>
</div>