<div class="small-space"></div>
<h1>Welcome to the Gemini Employee Recognition Portal</h1>
<div class="vertical-space"></div>
<h2>Select your role below</h2>
<div class="small-space"></div>
<a href="/regular"><button class="btn size">User</button></a><div class="horizontal-space"></div><a href="/admin"><button class="btn size">Admin</button></a>