<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/regular">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/awards">Awards</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/account">My Account<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class='small-space'></div>
<h1>User Portal - Change Name</h1>
<h2>Change Name</h2>
<div class="small-space"></div>
<div class="form-group">
<form id="changeName" action="/name" method="post">
    <label for="first_name">Recipient First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name"></input>
</div>
<div class="form-group">
    <label for="last_name">Recipient Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name"></input>
</div>
    <button type="submit" class="btn btn-primary">Create Award</button>
</form>