<h1>Number of Awards Each User Has Created</h1>
<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<div id='numberAwards'>
</div>