<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<h1>Number of Awards Each User Has Created</h1>
<div class="small-space"></div>
<button id="export" class="btn">Download as CSV</button>
<div id='numberAwards' class='vertical-space'>
</div>
<div class="small-space"></div>
<div id='numberAwards2'>
</div>