<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<h1>Which Employees Received Which Type of Award</h1>
<div id='receivedType'>
</div>