<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<h1>Award History Sent</h1>
<div class='vertical-space'></div>
<div id='sentType'>
</div>