<script type="text/javascript">
google.charts.load("current", { packages: ["corechart"] });
google.charts.setOnLoadCallback(drawChart);
</script>
<h1>How Many of Each Type of Award Have Been Given</h1>
<div class='vertical-space'></div>
<div id='typeAwards'>
</div>