<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analytics">Analytics</a>
      </li>
    </ul>
  </div>
</nav>
<div class='small-space'></div>
<h1>Update Signature {{users.first_name}} {{users.last_name}}:</h1>
<form id="update-signature" action="/users" method="put" enctype="multipart/form-data">
  <div class="form-group">
    <label for="signature">Signature</label>
    <input type="file" class="form-control" id="signature" name="signature" accept="">
  </div>
  <button type="submit" class="btn btn-primary" onclick="updateSignature({{users.user_id}})">Submit</button>
</form>