<h1>User Portal</h1>
<p>Welcome to the User Portal for the Gemini Employee Recognition System</p>
<p>Select an action:</p>
<ul>
    <li>
        <a href='userAccount.php'>User Account</a>
    </li>
    <li>
        <a href='newAward.php'>Create New Award</a>
    </li>
    <li>
        <a href='/sentType'>Award History</a>
    </li>
</ul>